body {
    font-family: Tahoma, sans-serif;
}

h1 {
    font-size: 100px;
    font-family: Tahoma, sans-serif;
    text-align: center;
}

.intro {
    font-size: 35px;
    text-decoration: none;
    line-height: 1.5;
}

ul, ol {
    list-style-type: none;
}

