body {
    font-family: Tahoma, sans-serif;
}

h1 {
    font-size: 100px;
    font-family: Tahoma, sans-serif;
    text-align: center;
}

.intro {
    font-size: 35px;
    line-height: 1.5;
    list-style-type: none;
}

a, .intro {
    text-decoration: none;
}

ul, ol {
    line-height: 1.5;
}

h3 {
    font-size: 25px;
}

ol>li {
    padding: 5px;
}